version = 0.1
[default]
[default.deploy]
[default.deploy.parameters]
stack_name = "{{.FunctionName}}"
resolve_s3 = true
s3_prefix = "{{.FunctionName}}"
region = "us-west-2"
capabilities = "CAPABILITY_IAM"
